{% extends 'main/common.html' %}
{% block common %}
    {% load static %}
    <form action="{% url 'provider_registration_save' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <table align="center" border="1">
            <tr><th rowspan="3"><img src="{% static 'images/register.png' %}" width="500" height="400"></th></tr>
            <tr>
                <th>
                    <span style="text-align: center;font-size: 25px;color: blue"><u>Provider Registration</u></span><br><br>
                    <input type="text" name="fname" placeholder="First Name" required><br><br>
                    <input type="text" name="lname" placeholder="Last Name" required><br><br>
                    Gender: <input type="radio" name="gender" required value="male" checked>Male
                    <input type="radio" name="gender" required value="female">Female
                    <input type="radio" name="gender" required value="other">Others<br><br>
                    <input type="number" name="contact" placeholder="Contact" required min="6666666666" max="9999999999"><br><br>
                    <textarea name="address" placeholder="Address" required rows="4" cols="30"></textarea><br><br>
                    <input type="email" name="email" placeholder="Email" required><br><br>
                    <input type="password" name="password" placeholder="Password" required><br><br>
                    <input type="password" name="password2" placeholder="Confirm Password" required><br><br>
                    <input type="file" name="photo" placeholder="Upload Photo" required><br><br>
                    <button type="submit">Register</button>
                </th>
            </tr>

            {% if messages %}
                <tr>
                <th>
                    {% for message in messages %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                           {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                </th>
                </tr>
            {% endif %}

        </table>
    </form>
{% endblock %}



